{{#bulma-nav hasShadow=true}}
  {{#bulma-nav-left}}
    <h2 class="nav-item is-brand">
      {{#link-to "index"}}
        T Shirts TDD
      {{/link-to}}
    </h2>
  {{/bulma-nav-left}}

  {{#bulma-nav-toggle onmousedown=(action toggleProperty 'toggleNav')}}
    <span></span>
    <span></span>
    <span></span>
  {{/bulma-nav-toggle}}

  {{#bulma-nav-right isMenu=true}}
    {{#link-to "tshirt" class="nav-item" data-test-nav-link-tshirt=true}}
      T Shirts
    {{/link-to}}
  {{/bulma-nav-right}}
{{/bulma-nav}}

{{#if toggleNav}}
  {{#bulma-panel isHiddenDesktop=true isHiddenTablet=true isHiddenWidescreen=true}}
    {{#link-to "tshirt" class="panel-block" data-test-nav-link-tshirt=true}}
      T Shirts
    {{/link-to}}
  {{/bulma-panel}}
{{/if}}

{{outlet}}
